:root{
    font-size: 62.5%;
}


*, ::before, ::after{
    box-sizing: border-box;
}

*{
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

.top{
    background-color: #23424A;
    padding: 6rem 0;
}

.wrapper{
    border: 1px solid brown;
    width: 80%;
    margin: 0 auto;
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
}


.wrapper .top__text{
    align-self: center;
    color: white;
    width: 65%;

}

.wrapper h1{
    font-size: 5rem;
    margin-bottom: 1.2rem;
}

.wrapper p{
    font-size: 1.9rem;
    margin-bottom: 3rem;
}

.wrapper button{
    padding: 1rem 3rem;
    background-color: #38CFD9;
    color: #23424A;
    font-weight: 800;
    text-transform: uppercase;
    word-spacing: 0.4rem;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    border-radius: 50rem;
    border: none;
}

.wrapper img{
    align-self: flex-start;
    width: 30%;
    border: 2px solid red;
}

.middle, .bottom{
    
    padding: 5rem 0;

}

.middle__wrapper, .bottom__wrapper{
    max-width: 120rem;
    width: 88%;
    display: flex;
    margin: 0 auto;
}

.middle .middle__wrapper div, .bottom__wrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle .middle__wrapper div h3, .bottom h3{
    font-size: 2.5rem;
    color: #87629A;


}

.middle .middle__wrapper div + div{
    margin-left: -2rem;
}

.middle .middle__wrapper p, .bottom__wrapper p{
    text-align: center;
    width: 80%;
    margin-top: 1.7rem;
    font-size: 1.6rem;
    
}


.bottom{
    background-color: #38CFD9;
}


.bottom__wrapper h3, .bottom__wrapper p{
    color: white;
}

